<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Starter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
      <div id="app1">
        <input type="text" @keyup.enter="test">{{products}}
        <button @click="formprice = !formprice, formremark = !formremark">EDIT</button>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Product</th>
              <th>image</th>
              <th>pack</th>
              <th>price</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="data in productsMapped"  >
              <td>
                {{data.product.model}}: (W: {{data.product.w}}xH: {{data.product.h}})

                <ul>
                  <li v-for="(value, key) in data.children">
                    L: {{key}} mm. Color: {{value}} สี
                  </li>
                </ul>
                <input type="text" v-model.number="data.product.remark" v-if="formremark">
                {{data.product.remark}}
              </td>

              <td>
                <img v-bind:src="data.product.image" width="150" height="150">
              </td>

              <td>
                {{data.product.pack}}
              </td>

              <td @click="hello(data)">
                <input type="text" v-model.number="data.product.price" v-if="formprice">
                <span v-if="!formprice">{{data.product.price}}</span>
              </td>

          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
<script type="text/javascript">
new Vue({
  el: '#app1',
  data: {
    formremark: false,
    formprice: false,
    products: [],
    skus:[
      {name: 'CT10/G202/2.7'},
      {name: 'CT10/W101/2.7'},
      {name: 'CT10/BL901/2.7'},
      {name: 'CT6/W101/2.7'},
      {name: 'B20/STWW/2.0'},
      {name: 'CT10/W101/2.0'}
    ],
    sizes:[
      {model: "CT6", w:20, h:18, pack:150, price:0, image:'photo/ct6.png' ,remark:''},
      {model: "CT10", w:20, h:21, pack:100,  price:0, image:'photo/ct10.png', remark:''},
      {model: "B20", w:20, h:21, pack:20,  price:0, image:'photo/b20.png' ,remark:''}
    ]
   },
  computed: {
    productsMapped () {
      let arr = this.products.map(product => {
        let lengths = this.skus.filter(sku => {
          return sku.name.includes(product)
        }).map(sku => {
          let strL = sku.name.split('/')[2]
          let length = Number(strL) * 1000
          return length
        })

        let totalLength = _.countBy(lengths)

        let model = this.sizes.find(v => v.model === product)
        return {product: model, children: totalLength}
      })
      return arr
    }
  },
  methods: {
    test(e) {
      let value = e.target.value
      this.products.push(value)
    },
    getSkus() {
      var vm = this
      let p = this.products.map(v => {
        return v.toLowerCase()
      })
      console.log(p);
      axios.post(`http://127.0.0.1:8000/warika/quotations/products`, {
        products: p
      })
      .then(function (res) {
        console.log(res.data)
      })
      .catch(function (error) {
        console.log("ไม่พบข้อมูล");
      });
    },
  },
  created () {
    this.getSkus()
  }
});
</script>
