<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Starter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
      <div id="app1">



        <input type="text" @keyup.enter="test">{{selected}}
        <button @click="formprice = !formprice, formremark = !formremark">EDIT</button><br>


        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Product</th>
              <th>image</th>
              <th>pack</th>
              <th>
                price
                <input type="text" v-model="formData.price">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="data in rows">
              <td>
                {{data.model}}<br>
                ขนาด:{{ data.width }}x{{ data.height }} (mm) สี:{{data.color}}<br>

                <ul>
                  <li v-for="length in data.lengths">
                    ความยาว:{{ length*1000 }}
                  </li>
                </ul>
                </select>
              </td>
              <td>
                <img :src="'photo/' + data.image" alt="" width="150" height="150">
                <img :src="'photo/' + data.drawing" alt="" width="150" height="50">
              </td>
              <td>
                {{data.pack}}
              </td>
              <td >

                <ul>
                  <li v-for="price in data.prices" @click="formData = price">
                     {{ price.lengths_id }}: {{ price.price }}
                  </li>
                </ul>
              </td>

            </tr>
          </tbody>
        </table>

        <!-- <ul>
          <li v-for="data in testMap">
            {{data.model}}<br>
            {{data.color}}
            <ul>
              <li v-for="length in data.length">
                {{length}}
              </li>
            </ul>
          </li>
        </ul> -->

        <!-- <table class="table table-bordered">
          <thead>
            <tr>
              <th>Product</th>
              <th>image</th>
              <th>pack</th>
              <th>price</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="data in productsMapped"  >
              <td>
                {{data.product.model}}: (W: {{data.product.w}}xH: {{data.product.h}})

                <ul>
                  <li v-for="(value, key) in data.children">
                    L: {{key}} mm. Color: {{value}} สี
                  </li>
                </ul>
                <input type="text" v-model.number="data.product.remark" v-if="formremark">
                {{data.product.remark}}
              </td>

              <td>
                <img v-bind:src="data.product.image" width="150" height="150">
              </td>

              <td>
                {{data.product.pack}}
              </td>

              <td @click="hello(data)">
                <input type="text" v-model.number="data.product.price" v-if="formprice">
                <span v-if="!formprice">{{data.product.price}}</span>
              </td>

          </tr>
        </tbody> -->
      <!-- </table> -->
    </div>
  </body>
</html>
<script type="text/javascript">
new Vue({
  el: '#app1',
  data: {
    formremark: false,
    formprice: false,
    selected: ['CT10','CT6'],
    selectedlength: ['2.0','2.5','2.7'],
    formData: {
      id: '', name: '', width: '', height: '', pack:0, price:0, colors_id: '', lengths_id:''
    },
    products: [
      { id: "CT10", name: "CT10/G201/2.7", width: "21.00", height: "20.00", pack: 100, price: 50, colors_id: "G201", lengths_id: "2.7", image:'', drawing:'' },
      { id: "CT10", name: "CT10/B300/2.7", width: "21.00", height: "20.00", pack: 100, price: 50, colors_id: "B300", lengths_id: "2.7", image:'', drawing:'' },
      { id: "CT10", name: "CT10/B300/2.0", width: "21.00", height: "20.00", pack: 100, price: 20, colors_id: "B300", lengths_id: "2.0", image:'', drawing:'' },
      { id: "CT6", name: "CT6/G201/2.7", width: "21.00", height: "20.00", pack: 100, price: 10, colors_id: "G201", lengths_id: "2.7", image:'', drawing:'' }
    ],
    rows: []
   },
  computed: {
    testForeach() {
      this.products.forEach(b => {
        console.log(b);
      })
    },
    productsMapped () {
      let arr = this.products.map(product => {
        let lengths = this.skus.filter(sku => {
          return sku.name.includes(product)
        }).map(sku => {
          let strL = sku.name.split('/')[2]
          let length = Number(strL) * 1000
          return length
        })

        let totalLength = _.countBy(lengths)

        let model = this.sizes.find(v => v.model === product)
        return {product: model, children: totalLength}
      })
      return arr
    }
  },
  methods: {
    testMap(){
      if (this.products.length === 0) return []

      let result = this.selected.map(model => {
        let models = this.products.filter(v => v.id === model)

        let colors = models.map(v => v.colors_id)
        let uColors = _.uniq(colors)

        let lengths = models.map(v => v.lengths_id)
        let uLengths = _.uniq(lengths)

        let uWidth = models[0].width
        let uHeight = models[0].height
        let uPack = models[0].pack
        let uImage = models[0].image
        let uDrawing = models[0].drawing

        let uPrices = models.map(v => {
          let res = models.find(x => x.lengths_id === v.lengths_id)
          return {lengths_id: res.lengths_id, price: this.editPrice(res.price)}
        }).sort((a, b) => a.lengths_id - b.lengths_id)

        return{
          model: model,
          color: uColors.length,
          width: uWidth,
          height: uHeight,
          pack :uPack,
          prices: _.uniqBy(uPrices, 'lengths_id'),
          lengths: uLengths.sort((a, b) => a - b),
          image: uImage,
          drawing: uDrawing

        }
      })

      return result
    },
    editPrice(price) {
      return Number(price)
    },
    setPrice (e) {
      console.log(e.target);
    },
    getUnique (model, filter) {
      let arr = this.products.filter(v => v.id == model)
      return this.myUnique(arr, filter, '')
    },
    myUnique (data, b) {
      let arr = []
      data.forEach(product => {
        let found = arr.includes(product[b])
        if (!found) {
          arr.push(product[b])
        }
      })
      return arr
    },
    test(e) {
      let value = e.target.value
      this.selected.push(value)
      this.getSkus()
    },
    getSkus() {
      var vm = this
      axios.post(`http://127.0.0.1:8000/warika/quotations/products`, {
        products: vm.selected
      })
      .then(function (res) {
        vm.products = res.data
      })
      .catch(function (error) {
        console.log(error);
      });
    },
    hello(warika) {
      this.formData.price = warika.formData.price
      this.formData.model = warika.formData.model
      console.log(warika);
    }
  },
  watch: {
    products(value) {
      if (value.length === 0) return []
      this.rows = this.testMap()
    }
  },
  created () {
    // this.getSkus()
    this.selected = []
    this.products = []
  }
});

</script>
