<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Starter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <div id="app1">
      <div class="d-print-none">
        <select v-model="selectedLang">
          <option value="th">Thai</option>
          <option value="en">Eng</option>
        </select>

        <select v-model="selectedModel" @change="getLengths">
          <option value="">โปรดเลือกสินค้า...</option>
          <option v-for="model in models" :value="model.id">{{model.id}}</option>
        </select>

        <select v-model="selectedLengths" multiple>
          <option v-for="length in lengths" :value="length.id">{{length.id}}</option>
        </select>

        <button type="button" @click="getProducts">ค้นหา</button>
        <button type="button" @click="deleteProducts">delete</button>
        <button type="button" @click="products = []">Clear</button>

        <button @click="formprice = !formprice, formremark = !formremark">EDIT</button><br>
      </div>

        <table class="table table-bordered">
          <thead class="text-center">
            <tr>
              <th>{{findWord('product')}}</th>
              <th> </th>
              <th>{{findWord('pack')}}</th>
              <th>
                {{findWord('price')}}
                <input type="text" v-model="formData.price" @keyup.enter="changePrice" class="d-print-none">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(data, index) in rows">
              <td>
                {{findWord('model')}}:{{data.model}}<br>
                {{findWord('size')}}:{{ data.width }}x{{ data.height }} (mm)
                {{findWord('color')}}:{{data.color}}<br>

                <ul>
                  <li v-for="length in data.lengths">
                    {{findWord('length')}}:{{ length }} (mm)
                  </li>
                </ul>
                </select>
              </td>
              <td>
                <img :src="'photo/' + data.image" alt="" width="150" height="150">
                <img :src="'photo/' + data.drawing" alt="" width=auto height=auto>
              </td>
              <td class="text-center">
                <br>
                <br>
                {{data.pack}}
              </td>
              <td >

                <ul>
                  <br>
                  <br>
                  <li
                    v-for="price in data.prices"
                    @click="setFormData(price, index)"
                    :class="{'text-danger': index === selectedRow}">
                     {{findWord('length')}} {{ price.lengths_id }} (mm): {{ price.price }}
                  </li>
                </ul>
              </td>

            </tr>
          </tbody>
        </table>



  </div>
  </body>
</html>
<script type="text/javascript">
new Vue({
  el: '#app1',
  data: {
    selectedLang: 'th',
    langs: [],
    selectedRow: -1,
    formremark: false,
    formprice: false,
    formData: {},
    rows: [],
    products:[],
    models: [],
    lengths: [],
    selectedModel: '',
    selectedLengths: []
   },
  computed: {

  },
  methods: {
    findWord (id) {
      let result = this.langs.find(v => v.name === id)
      if (!result) return '<<' + id + '>>'
      return result[this.selectedLang]
    },
    changePrice () {

    },
    setFormData(data, index) {
      this.formData = data
      this.selectedRow = index
    },
    getLangs () {
      let url = `http://127.0.0.1:8000/warika/quotations/langs`
      var vm = this
      axios.get(url)
      .then(function (res) {
        vm.langs = res.data
      })
    },
    getLengths () {
      let url = `http://127.0.0.1:8000/warika/quotations/lengths/${this.selectedModel}`
      var vm = this
      axios.get(url)
      .then(function (res) {
        vm.lengths = res.data
      })
    },
    getModels () {
      let url = `http://127.0.0.1:8000/warika/quotations/models`
      var vm = this
      axios.get(url)
      .then(function (res) {
        vm.models = res.data
      })
    },
    getProducts () {
      if (!this.selectedModel) return
      if (this.selectedLengths.length === 0) return
      let lengths = this.selectedLengths.join(',')
      let url = `http://127.0.0.1:8000/warika/quotations/products/${this.selectedModel}/${lengths}`
      var vm = this
      axios.get(url)
      .then(function (res) {
        vm.products = vm.products.concat(res.data)
        vm.rows = vm.testMap()
      })
    },
    deleteProducts () {
      if (!this.selectedModel) return
      if (this.selectedLengths.length === 0) return
      let products = this.products.filter(v => {
        let found = v.id === this.selectedModel && this.selectedLengths.includes(v.lengths_id)
        return !found
      })
      this.products = products
      this.rows = this.testMap()
    },
    testMap(){
      if (this.products.length === 0) return []

      let models = _.uniq(this.products.map(v => v.id))

      let result = models.map(model => {
        let products = this.products.filter(v => v.id === model)

        let colors = products.map(v => v.colors_id)
        let uColors = _.uniq(colors)

        let lengths = products.map(v => v.lengths_id)
        let uLengths = _.uniq(lengths)

        let uWidth = products[0].width
        let uHeight = products[0].height
        let uPack = products[0].pack
        let uImage = products[0].image
        let uDrawing = products[0].drawing

        let uPrices = products.map(v => {
          let res = products.find(x => x.lengths_id === v.lengths_id)
          return {
            models_id: model,
            lengths_id: res.lengths_id,
            price: this.editPrice(res.price)
          }
        }).sort((a, b) => a.lengths_id - b.lengths_id)

        return{
          model: model,
          color: uColors.length,
          width: uWidth,
          height: uHeight,
          pack :uPack,
          prices: _.uniqBy(uPrices, 'lengths_id'),
          lengths: uLengths.sort((a, b) => a - b),
          image: uImage,
          drawing: uDrawing

        }
      })

      return result
    },
    editPrice(price) {
      return Number(price)
    },
  },
  created () {
      this.getModels()
      this.getLangs()
  }
});

</script>
